<!-- NOSSA TOUR VIRTUAL SECTION -->
<section class="carrossel">
    <h2 class="carrossel__titulo">Seu Espaço em uma Nova Perspectiva</h2>
    <div class="carrossel__container">
        <div class="card">
            <div class="card__descricao">
                <div class="descricao">
                    <h3 class="descricao__titulo">{{ historyInfo.title }}</h3>
                    <h2 class="descricao__titulo-livro"></h2>
                    <p class="descricao__texto"> {{ historyInfo.description }} </p>
                </div>
                <video class="video-tour" controls>
                    <source src="assets/videos/immersive-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="card__botoes">
                <a [routerLink]="'sobre-nos'" class="botoes__ancora">Saiba mais</a>
            </div>
        </div>
    </div>
</section>
<!-- END TOUR VIRTUAL SECTION -->

<!-- NOSSA RECURSOS SECTION -->
<section class="carrossel">
    <h2 class="carrossel__titulo">Recursos</h2>
</section>
<!-- END RECURSOS SECTION -->