<h2 class="topics__title">Tópicos visitados recentemente</h2>
<ul class="topics__list">
    <li class="topics__item"><a [routerLink]="'acomodacao'" class="topics__link">Acomodações</a></li>
    <li class="topics__item"><a [routerLink]="'passeios'" class="topics__link">Passeios</a></li>
    <li class="topics__item"><a [routerLink]="'sobre-nos'" class="topics__link">Área de lazer</a></li>
    <li class="topics__item"><a [routerLink]="'contato'" class="topics__link">Contato</a></li>
    <li class="topics__item"><a [routerLink]="'localizacao'" class="topics__link">Localização</a></li>
</ul>