<div class="card">
    <div class="top">
        <div class="image-container">
            <img src="assets/images/topics/bg-topics.svg" alt="Your image description">
        </div>
        <div class="white-container">
            <div class="row">
                <div class="topic">
                    <div class="topic-icon">
                        <img src="assets/images/topics/topic-2.png" alt="Topic 1">
                    </div>
                    <div class="topic-title">
                        Maior alcance e visibilidade
                    </div>
                </div>
                <div class="topic">
                    <div class="topic-icon">
                        <img src="assets/images/topics/topic-2.png" alt="Topic 2">
                    </div>
                    <div class="topic-title">
                        Redução de custos
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="topic">
                    <div class="topic-icon">
                        <img src="assets/images/topics/topic-3.png" alt="Topic 3">
                    </div>
                    <div class="topic-title">
                        Aumento da confiança e credibilidade
                    </div>
                </div>
                <div class="topic">
                    <div class="topic-icon">
                        <img src="assets/images/topics/topic-4.png" alt="Topic 4">
                    </div>
                    <div class="topic-title">
                        Amplia a experiência do cliente
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="row">
            <div class="topic">
                <div class="topic-icon">
                    <img src="assets/images/topics/topic-5.png" alt="Topic 5">
                </div>
                <div class="topic-title">
                    Acesso a qualquer momento
                </div>
            </div>
            <div class="topic">
                <div class="topic-icon">
                    <img src="assets/images/topics/topic-6.png" alt="Topic 6">
                </div>
                <div class="topic-title">
                    Diferencial competitivo
                </div>
            </div>
        </div>
        <hr class="separator-topics">
        <div class="row">
            <div class="topic">
                <div class="choose-immersive">
                    POR TUDO ISSO ESCOLHA A IMMERSIVE!
                </div>
            </div>
            <div class="topic">
                <img class="immersive-image" src="assets/images/logo-tour.png" alt="Your image description">
            </div>
        </div>

    </div>
</div>