<app-header class="header"></app-header>

<section class="accomodation">
    <div class="accomodation__container">
        <img class="image__header" [src]="'assets/images/banner_03.png'" alt="Pousada Doce Recanto">
    </div>
</section>

<h2 class="accomodation__title">Chalés</h2>

<div class="wrapper">
    <swiper #swiper2 [config]="configFeedback" [spaceBetween]="50" (slideChange)="onSlideChange()"
        [pagination]="{clickable:true}">
        <ng-container *ngFor="let room of roomList">
            <ng-template swiperSlide>
                <div class="swiper-slide">
                    <div class="card">
                        <img [src]="room.image" class="descricao__feedback__images">
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>

    <ul class="lista-rodape">
        <li class="lista-rodape__titulo">Incluso</li>
        <li *ngFor="let item of includedList" class="lista-rodape__item">
            <img src="assets/images/star.svg">
            <span class="lista-rodape__link">{{ item.title }}</span>
        </li>

        <li class="lista-rodape__item">
            <a [routerLink]="'/reserva'" class="botoes__ancora__reserve">Reserve Já</a>
        </li>
    </ul>
</div>

<hr style="margin: 0; padding: 0; " />
<app-footer class="footer"></app-footer>
<shared-sticky-wpp id="accomodation-sticky-btn" [showScrollTop]="false" class="whatsapp-effect"></shared-sticky-wpp>