<h2 class="footer__title">Pousada Doce Recanto</h2>

<ul class="list-footer">
    <!-- <li class="list-footer__title">Contatos</li> -->
    <a href="#" target="_blank" class="list-footer__item list-footer__link">
        <li class="list-footer__item">
            <img class="list-footer__image" src="../../../assets/images/whatsapp.png" alt="Contato do Whatsapp"
                width="40px" height="40px">
        </li>
    </a>
    <a href="https://facebook.com/pousadadocerecanto" target="_blank" class="list-footer__item list-footer__link">
        <li class="list-footer__item" (click)="redirectToUrl($event)" [attr.data-value]="'www.facebook.com/'">
            <img class="list-footer__image" src="../../../assets/images/facebook.png" alt="Perfil do facebook"
                width="35px" height="35px">
        </li>
    </a>
    <a href="https://instagram.com/pousadadocerecanto" target="_blank" class="list-footer__item list-footer__link">
        <li class="list-footer__item">
            <img class="list-footer__image" src="../../../assets/images/instagram.png" alt="Perfil do instagram"
                width="35px" height="35px">
        </li>
    </a>
</ul>

<span class="footer__developer"><b>©</b> Desenvolvido por Eder Maciel</span>