<!-- Left container -->
<div class="container">
    <input type="checkbox" id="menu" class="container__button">
    <label for="menu" class="container__label">
        <span class="header__menu-hamburguer container__image"></span>
    </label>
    <ul class="list-menu">
        <li class="list-menu__title">Seja Bem-Vindo</li>
        <hr />
        <li class="list-menu__item"><a href="#" class="list-menu__link">Contato</a></li>
        <li class="list-menu__item"><a href="#" class="list-menu__link">Acomodações</a></li>
        <li class="list-menu__item"><a href="#" class="list-menu__link">Localização</a></li>
        <li class="list-menu__item"><a href="#" class="list-menu__link">Sobre nós</a></li>
        <li class="list-menu__item list-menu__reservation">
            <a href="#" class="list-menu__reservation-link">Reservas</a>
        </li>
    </ul>
    <img src="../../../assets/images/logo-pousada.png" alt="Logo Pousada" class="imagem__logo">
    <h1 class="container__title"><b class="container__title--negrito">Doce</b>Recanto</h1>
</div>

<ul class="options">
    <li class="options__item"><a href="#" class="options__link">Contato</a></li>
    <li class="options__item"><a href="#" class="options__link">Acomodações</a></li>
    <li class="options__item"><a href="#" class="options__link">Localização</a></li>
    <li class="options__item"><a href="#" class="options__link">Sobre nós</a></li>
</ul>

<!-- Right container -->
<div class="container">
    <a href="#" class="container__link">
        <img src="../../../assets/images/compras.svg" alt="Carrinhos de compras" class="container__image">
        <p class="container__texto">Meu carrinho</p>
    </a>

    <a href="#" class="container__link">
        <img src="../../../assets/images/usuário.svg" alt="Meu perfil" class="container__image">
        <p class="container__texto">Meu Perfil</p>
    </a>
</div>