<!-- Left container -->
<div class="container">
    <input type="checkbox" id="menu" class="container__button">
    <label #containerLabel for="menu" class="container__label">
        <span (click)="openMenu()" class="header__menu-hamburguer container__image"></span>
    </label>
    <!-- MENU MOBILE -->
    <ul #listMenuMobile class="list-menu close-menu">
        <li class="list-menu__title">Seja Bem-Vindo</li>
        <hr />
        <li *ngFor="let item of listMenu" class="list-menu__item">
            <a class="list-menu__link" [routerLink]="item.link">{{item.title}}</a>
        </li>
        <li class="list-menu__item list-menu__reservation">
            <a [routerLink]="'/reserva'" class="list-menu__reservation-link">Reservas</a>
        </li>
    </ul>
    <!-- END MENU MOBILE -->
    <img [routerLink]="''" src="assets/images/logo-pousada.png" alt="Logo Pousada" class="imagem__logo">
    <h1 [routerLink]="''" class="container__title"><b class="container__title--negrito">Doce</b>Recanto</h1>
</div>

<!-- MENU DESKTOP/TABLET -->
<ul class="options">
    <ng-container *ngFor="let item of listMenu">
        <a [routerLink]="item.link" class="options__link">
            <li class="options__item">{{item.title}}</li>
        </a>
    </ng-container>
</ul>
<!-- END MENU DESKTOP/TABLET -->

<!-- Right container -->
<div (click)="onClick($event)" class="container">
    <a [routerLink]="'/reserva'" class="container__link">
        <img src="assets/images/calendar.png" alt="Confira nossa agenda" width="30px" height="30px"
            class="container__image">
        <p class="container__texto">Agenda</p>
    </a>

    <a href="https://wa.me/5535991304000?text=Olá!%20Gostaria%20de%20fazer%20uma%20reserva%20na%20Pousada%20Doce%20Recanto,%20você%20pode%20me%20ajudar?%20Agradeço desde já!%20:)"
        target="_blank" class="container__link">
        <img src="assets/images/e-mail.png" width="36px" height="36px" alt="Contato" class="container__image">
        <p class="container__texto">Contato</p>
    </a>
</div>