<!-- Left container -->
<div class="container">
    <input type="checkbox" id="menu" class="container__button">
    <label for="menu" class="container__label">
        <span class="header__menu-hamburguer container__image"></span>
    </label>
    <ul class="list-menu">
        <li class="list-menu__title">Seja Bem-Vindo</li>
        <hr />
        <li class="list-menu__item"><a [routerLink]="'/contato'" class="list-menu__link">Contato</a></li>
        <li class="list-menu__item"><a [routerLink]="'/acomodacao'" class="list-menu__link">Acomodações</a></li>
        <li class="list-menu__item"><a [routerLink]="'/localizacao'" class="list-menu__link">Localização</a></li>
        <li class="list-menu__item"><a [routerLink]="'/passeios'" class="list-menu__link">Passeios</a></li>
        <li class="list-menu__item"><a [routerLink]="'/sobre-nos'" class="list-menu__link">Sobre nós</a></li>
        <li class="list-menu__item list-menu__reservation">
            <a [routerLink]="'/reserva'" class="list-menu__reservation-link">Reservas</a>
        </li>
    </ul>
    <img [routerLink]="''" src="assets/images/logo-pousada.png" alt="Logo Pousada" class="imagem__logo">
    <h1 [routerLink]="''" class="container__title"><b class="container__title--negrito">Doce</b>Recanto</h1>
</div>

<ul class="options">
    <a [routerLink]="'/contato'" class="options__link">
        <li class="options__item">Contato</li>
    </a>
    <a [routerLink]="'/acomodacao'" class="options__link">
        <li class="options__item">Acomodações</li>
    </a>
    <a [routerLink]="'/localizacao'" class="options__link">
        <li class="options__item">Localização</li>
    </a>
    <a [routerLink]="'/passeios'" class="options__link">
        <li class="options__item">Passeios</li>
    </a>
    <a [routerLink]="'/sobre-nos'" class="options__link">
        <li class="options__item">Sobre nós</li>
    </a>
</ul>

<!-- Right container -->
<div class="container">
    <a [routerLink]="'/reserva'" class="container__link">
        <img src="assets/images/compras.svg" alt="Carrinhos de compras" class="container__image">
        <p class="container__texto">Agenda</p>
    </a>

    <a href="#" class="container__link">
        <img src="assets/images/usuário.svg" alt="Meu perfil" class="container__image">
        <p class="container__texto">Meu Perfil</p>
    </a>
</div>