<app-header class="header"></app-header>

<h2 style="margin-top:15px" class="accomodation__title">Tour Virtual</h2>

<div class="wrapper">
    <iframe class="tour" width='853' height='480' src='https://my.matterport.com/show/?m=YkDnMM48cmK' frameborder='0'
        allowfullscreen allow='xr-spatial-tracking'>
    </iframe>

    <ul class="lista-rodape">
        <li class="lista-rodape__titulo">Experiências</li>
        <li *ngFor="let item of includedList" class="lista-rodape__item">
            <img src="assets/images/star.svg">
            <span class="lista-rodape__link">{{ item.title }}</span>
        </li>
    </ul>
</div>

<hr style="margin: 0; padding: 0; " />
<app-footer class="footer"></app-footer>
<shared-sticky-wpp id="accomodation-sticky-btn" [showScrollTop]="false" class="whatsapp-effect"></shared-sticky-wpp>